.primary {
    padding-left: 50px;
    width: 600px;
    margin: 0 auto;
  }
  .list {
    gap: 8px;
    display: grid;
  }
  .button {
    margin-top: 10px;
    width: 80px;
    font-size: 12px;
    height: 25px;
    margin-left: 20px;
  }
  .button:hover {
    background-color: rgb(69, 156, 249);
    border-radius: 5px;
    border: none;
  }
  .button:focus {
    background-color: rgb(127, 181, 239);
    border-radius: 5px;
    border: none;
  }
  .container {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    margin-left: 20px;
  }
  .label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .input {
    font-size: 15px;
  }
  .input:hover {
    border: 2px solid rgb(69, 156, 249);
    border-radius: 5px;
  }
  .input:focus {
    border: 2px solid rgb(69, 156, 249);
  }